@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@font-face {
	font-family: 'FranklinGothicDemi';
	src: url('fonts/FranklinGothicDemi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html,
body {
	height: 100%;
}
.page_wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.page_content {
	flex: 1 0 auto;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;	
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration: none;
	color: #000;
}
.underline-block {
	position: relative;
	z-index: 2;
}
.underline-block:after{
	content: '';
	display: block;
	width: 100%;
	height: 8px;
	background-color: #e7ff6a;
	position: absolute;
	z-index: -1;
	bottom: -4px;
	right: 0;
}