@media(max-width:1360px){
	header,
	.aside-block{
		display: none;
	}
	.header-mobile{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height:72px;
		background-color: #000;
		color:#ffffff;
		padding: 0 15px;
	}
	.header-right-side {
		display: flex;
		align-items: center;
		cursor:pointer;
	}
	.header-right-side-item {
		padding: 14px 16px ;
	}
	.burger-menu-icon {
		margin-left: 16px;
	}
	.burger-menu-icon,
	.burger-menu-icon::after,
	.burger-menu-icon::before{
		vertical-align: middle;
		content: '';
		display: inline-block;
		width: 16px;
		height: 2px;
		background-color: #ffffff;
		position:relative;
		bottom: 1px;
	}
	.burger-menu-icon::before {
		position: absolute;
		top: -5px;

	}
	.burger-menu-icon::after {
		position: absolute;
		top: 5px;
	}
	.footer-desktop {
		display: none;
	}
	.tablet {
		display: block;
		padding: 0 16px;
	}
	.footer__nav-bar-block {
		padding-left: 0;
	}
	.footer__nav-bar__navs-item__link {
		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.67;
		letter-spacing: normal;
	}
	.footer__nav-bar__navs, .footer__inner-nav-bar__navs {
		width: auto;
	}
	.footer__footer-credits__official-info {
		margin-left: 0;
	}
	.footer__footer-credits__official-info ul{
		width: 152px;
	}
	.footer__footer-credits__official-info ul li{
		padding: 1px 0;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.29;
		letter-spacing: normal;
	}
	.footer__brand {
		margin-top: 16px;
	}
	.footer__footer-credits {
		justify-content: space-between;
	}
	.footer__footer-credits__phones {
		margin-left: 0;
	}
	.footer__footer-credits__requisites {
		margin-left: 0;
	}
	.footer__footer-credits {
		margin-block-end: 31px;
	}
	.footer__footer-credits__icons {
		width: 128px;
	}
	.footer__line {
		width: 100%;
	}
}
@media(max-width:1024px){
	.desktop {
		display:none;
	}
	.mobile {
		display: block;
	}
	.up-block {
		flex-flow: row wrap;
	}
	.up-slider-wrapper{
		margin-bottom: 30px;
	}
	.up-slider-wrapper,
	.img-wrapper {
		width: 100%;
		min-height: 300px;
	}
	.owl-carousel__up-slider-item__slider-content {
		padding: 107px 55px 0;
		text-align: center;
	}
	.owl-carousel__up-slider-item__slider-content__promo-title {
		width: auto;
	}
	.owl-carousel__up-slider-item__slider-content__slogan,
	.owl-carousel__slider-item__slider-content__dicription,
	.promo-train-block__slider-item__slider-content__dicription,
	.owl-carousel__slider-item__slider-content__slogan::after,
	.special-offer-block__item__desc,
	.special-offer--block__item-cart,
	.pop-products-block.desktop {
		display: none;
	}
	.mixit .owl-carousel__slider-item__slider-content__dicription {
		display: block;
	}
	.owl-carousel__slider-item-button {
		margin: auto;
	}
	.owl-carousel__slider-item,
	.promo-train-block__slider-item {
		height: 337px;
		background-position-x: 38%!important;
		margin: 20px 16px 0;
	}
	.mixit .owl-carousel__slider-item	{
		margin: 23px 16px 99px;
		background-position-x: 80% !important;
		background-size:cover !important;
	}

	.owl-carousel__slider-item__slider-content {
		margin-top: 50px;
		margin-inline-end: 95px;
		width: 37%;
	}
	.promo-train-block__slider-item__slider-content {
		margin-top: 29px;
		margin-inline-end: 35px;
		width: 45%;
	}
	.owl-carousel__slider-item__slider-content__promo-title,
	.promo-train-block__slider-item__slider-content__promo-title {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 3px;
		padding: 0;
		margin-bottom: 24px;
	}
	.mixit .owl-carousel__slider-item__slider-content__promo-title {
		font-family: 'FranklinGothicDemi', sans-serif;
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.25;
		letter-spacing: normal;
	}
	.owl-carousel__slider-item__slider-content__slogan{
		font-size: 26px;
		box-shadow: inset -2px -16px 0 -2px #e7ff6a;
		display: inline;
	}
	.promo-train-block__slider-item__slider-content__slogan {
		font-size: 26px;
		display: inline;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.owl-carousel__slider__content_bottom {
		margin-top: 30px;
	}
	.promo-train-block__slider__content_bottom {
		margin-top: 30px;
		margin-left:0 ;
	}
	.special-offer-block {
		margin: 20px 16px 64px;
	}
	.special-offer-block__title__link-to-all {
		width: 101px;
		text-align: center;
		padding: 16px 0;
		border-radius: 32px;
		background-color: #f3f3f3;
	}
	.special-offer-block__item {
		width: 209px;
	}
	.special-offer-block__item img {
		height: 209px;
	}
	.special-offer-block__item__title:hover {
		color: #e31377
	}
	.special-offer-block__item__prices {
		justify-content: 	start;
	}
	.special-offer-block__item__old-price {
		margin-left: 	18px;
	}
	.promo-form-block__title {
		width: auto;
	}
	.promo-form-block__form__input-checkbox-wrapper,
	.in-the-know-form-block__form__input-checkbox-wrapper {
		margin: 1px auto;
	}
	.pop-products-block {
		padding:71px 16px 56px;
	}
	.pop-products-block__title {
		margin-bottom:  24px;
	}
	.pop-products-block__title__link-to-all {
		width: 101px;
		text-align: center;
		padding: 16px 0;
		border-radius: 32px;
		background-color: #ffffff;
	}
	.owl-carousel.slider-tablet  .owl-stage {
		left: -36px;
	}
	.advantages-block {
		padding:0 16px ;
	}
	.in-the-know-form-block {
		margin: 56px  0;
	}
	.in-the-know-form-block__form__input {
		width: 214px;
	}
	.in-the-know-form-block__form {
		width: 704px;
		margin: 13px 16px 0;
	}
	.bottom-slider-block__slider-wrapper .slick-slide {
		margin-left: -35px;
		width: 298px;
		height: 298px;
		background-position: right bottom!important;
		background-size: 83%!important;
	}
	.bottom-slider-block____slider-header__right-block_img {
		margin-top: 43px;
		float: right;
		margin-right: 0;
		width: 502px;
	}
	.bottom-slider-block__slider-wrapper {
		bottom: 44px;
		height: auto;
		padding: 0 16px;
	}
	.bottom-slider-block__slider-header {
		height: 281px;
	}
	.bottom-slider-block__slider-footer {
		height: 230px;
		background-color: #353535;
	}
	.bottom-slider-block__slider-header_top-content {
		justify-content: center;
	}
	.bottom-slider-block__slogan-button-wrapper {
		justify-content: space-between;
		margin-right: 0;
		margin-left: 48px;
		margin-top: 14px;

	}
	.bottom-slider-block__slider-header__left-block.mobile {
		display: flex;
		justify-content: space-between;
		position: absolute;
		right: 16px;
		margin-top: 80px;
		align-items: flex-end;
	}
	.bottom-slider-block__slider-header {
		padding-top: 42px;
	}
	.product-catalog .exercises-tabs-block__tabs__item {
		width: 110px;
		height: 146px;
	}
	.exercises-tabs-block__tabs__item p {
		font-size: 14px;
	}
	.exercises-tabs-block, .product_catalog_block
	{
		padding: 0 16px;
	}
	.promo-form-block__title_underline-block::after {
		display: none;
	}
	.mixit .owl-carousel__slider-item__slider-content {
		width: 70%;
	}
	.mixit .owl-carousel__slider-item__slider-content__promo-title{
		padding: 36px 0 0 40px;
	}
	.mixit .owl-carousel__slider-item__slider-content__dicription {
		padding: 0 0 0 40px;
	}
	.product_catalog_block .catalog_block {
		margin: 0 39px;
	}
	.catalog__block__tabs__header {
		display: flex;
		justify-content: space-between;
	}
	.filters_block-title.tablet {
		padding: 5px;
		text-align: left;
	}
	.filters_block-title .burger-menu-icon,
	.filters_block-title .burger-menu-icon::before,
	.filters_block-title .burger-menu-icon::after {
		background-color: #e31377;
	}
	.filters_block-title.tablet .burger-menu-icon {
    margin:  0 16px 0 0;
}
}
@media(max-width:768px) {
	.promo-form-block {
		background: url('assets/promo-form-bg-768.svg') no-repeat;
		padding: 0 16px;
		background-position-y: -2px
	}
}